{
    "extends": "@netvlies/eslint-config-vue",
    "rules": {
        "vue/component-name-in-template-casing": [
            "error",
            "PascalCase",
            {
                "ignores": []
            }
        ]
    }
}